.portfolio-footer-bg {
  background-color: #ffb400;
  padding: 4rem 0px;
}

.portfolio-footer-text {
  font-weight: 700;
  font-size: 50px;
  padding: 0px 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .portfolio-footer-text {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  .portfolio-footer-text {
    font-size: 30px;
  }
  .portfolio-footer-bg {
  background-color: #ffb400;
  padding: 2rem 0px;
}
}
