
.line-style-about{
       width: 129px;
    border: 4px solid #FFB400;
    transform: rotate(-90deg);
    position: absolute;
  left: -26px;
    top: 167px;
}

.text-container-2 {
    display: flex;
        flex-direction: column;
        padding: 6rem 0px;
}
@media (max-width: 627px) {
    .line-style-about{
        display: none;
    }
}