.bg-clr-project {
  background-color: #ffb400;
}
.service-quality {
  padding: 0px 3rem;
}
.new-style {
  display: flex;
  align-items: center;
  padding-left: 9px;
  padding-top: 5px;
  font-weight: 700;
}
.padding-parent {
  padding: 6rem 0px;
}
.too-big-design {
  background-color: #f7f7f7;
}
.too-big-design {
  padding: 5.1rem 40px;
}
.row-bg {
  background-color: #2a2a2a;
  padding-top: 35px !important;
  padding-bottom: 15px !important;
  display: flex;
  justify-content: space-between;
}
.margin-para {
  padding: 0px 4rem;
}
.no-project-flex {
  display: flex;
}
.no-project-flex-one {
  flex: 0 0 30%;
}
.no-project-flex-two {
  flex: 0 0 70%;
}
.no-project-flex-three {
  flex: 0 0 50%;
}
.no-project-flex-four {
  flex: 0 0 50%;
}
.text-left {
  padding-left: 2rem;
}
.button-right {
  padding-right: 2rem;
}
@media screen and (max-width: 1683px) {
  .no-project-flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 1642px) {
  .too-big-design-two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .padding-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0px;
  }
}
@media screen and (max-width: 1642px) {
  .row-bg {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-left {
    padding-left: 0rem !important;
  }
  .button-right {
    padding-right: 0rem !important;
  }
}
@media screen and (max-width: 630px) {
  .service-quality {
    padding: 0px 0.5rem;
  }
}
