.call-clr{
    color: #FFB400;
    font-size: 40px;
    font-weight: 700;
}
.ContactStartFlex{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:992px){
    .ContactStartFlex{
        flex-direction: column;
        text-align: center;
    }
}