.card-main {
  width: 292px;
  height: 380px;
  border: 1px solid #666666;
  border-radius: 0px;
  padding: 3rem 2rem;
}

.project-title-design {
  font-size: 15px;
  font-weight: 500;
}

.latest-head {
  font-weight: 700;
  font-size: 40px;
}

.card-para-main {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #666666;
}

@media screen and (max-width: 991px) {
  .img-latest {
    width: 100%;
  }
  .card-main {
    width: 100%;
  }
}
