.card-main{
      width: 292px;
    height: 380px;
    border: 1px solid #666666;
    border-radius: 0px;
    padding: 3rem 2rem;
}
.latestHead{
    font-weight: 700;
font-size: 40px;
}
/* .latestHead::before{
  content: "";
    height: 54px;
    border: 4px solid #FFB400;
    position: absolute;
     transform: rotate(-90deg);
} */
.card-para-main{
    font-weight: 300;
font-size: 15px;
line-height: 28px;
color: #666666;
}
.line-styleLatest{
         width: 85px;
    border: 4px solid #FFB400;
    transform: rotate(-90deg);
    position: absolute;
    left: 480px;
    top: 286px;
}
@media screen and (max-width: 991px) {
.img-latest{
    width: 100%;
}
.card-main{
    width: 100%;
}
}