.background-clr{
    background-color: #F7F7F7;
}
.eco-style{
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 600;
}
.eco-style-para{
    font-size: 15px;
    font-weight: 400;
}
.best-orange{
    background-color: #FFB400;
    color: #2A2A2A;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.best-black{
    background-color:#2A2A2A;
    color: white;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-style{
    font-weight: 800;
    font-size: 12px;
}
.flex{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h2-style{
    font-weight: 400 !important;
}
.text-font{
   font-size: 14px;
}
.width-manage{
   padding: 3rem;
}
.bestPic{
width: 100%;

}
.BestFlex{
    display: flex;
}
.BestFlex-1{
    flex: 0 0 50%;
}
.BestFlex-2{
    flex: 0 0 50%;
}
.paddingReuse{
    padding: 2rem 0px;
}
@media screen and (max-width:1425px) {
    .paddingReuse{
    padding: 0rem 0px;
}
.max-width{
    padding: 2rem;
}
    
}