a {
  color: #2a2a2a;
  font-weight: 500;
}

h3 {
  font-weight: 700;
}

p {
  font-size: 16px;
}

h6 {
  font-weight: 600;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

h6 {
  font-weight: 800;
}

.line-bottom {
  width: 50px;
  border-bottom: 6px solid #ffb400;
  padding-top: 1.5rem !important;
}

.line {
  width: 42px;
  border-bottom: 5px solid black;
  padding-top: 1.5rem !important;
}

.card-img-top {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.service-bg-clr {
  background-color: #f7f7f7;
}

section {
  padding: 4rem 0px;
}

.hvr-shutter-out-horizontal:before {
  background: black !important;
  border-color: black !important;
}

@media screen and (max-width: 600px) {
  section {
    padding: 2rem 0px;
  }
}
