.newsletter-text {
  font-weight: 700;
  font-size: 40px;
}

.blog-footer-flex {
  display: flex;
}

.blog-footer-flex-one {
  flex: 0 0 50%;
  background-color: #ffb400;
      padding: 0px 5rem;
}

.blog-footer-flex-two {
  flex: 0 0 50%;
}

.blog-footer-name-field {
  border: 0px solid white;
  border-radius: 0px;
  margin-bottom: 1rem;
  padding: 12px;
}

@media screen and (max-width:991px) {
    .blog-footer-flex {
     flex-direction: column;
    }
}

@media screen and (max-width:600px) {
.blog-footer-flex-one {
    padding: 0px 2rem;
}
.newsletter-text {
  font-weight: 700;
  font-size: 35px;
}
}