.clientText{
    font-weight: 700;
font-size: 40px;
}
@media screen and (max-width:249px) {
    .clientText{
    font-weight: 700;
font-size: 32px;
}
}
@media screen and (max-width:1199px){
    .clientCards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}