.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.services-flex {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0px;
}

@media screen and (max-width: 992px) {
  .services-flex {
    flex-direction: column;
    align-items: center;
  }
  .services-button-padding {
    padding: 2rem 0px 0px 0px;
  }
}

@media screen and (max-width:770px) {
  .about-project-head {
    font-size: 32px !important;
  }
  
}