.contact-container {
  position: relative;
  background-image: url(../../assets/images/MainPageImg.png); /* Use the imported image */
  background-size: cover;
  background-position: center;
  height: 526px;
}

.banner-heading {
  font-weight: 700;
}

.icon-banner {
  padding-right: 2rem;
}

.contact-flex {
  display: flex;
}

.contact-flex-one {
  flex: 0 0 80%;
}

.contact-flex-two {
  flex: 0 0 20%;
}

@media screen and (max-width: 1600px) {
  .contact-flex-one {
    flex: 0 0 70%;
  }
  .contact-flex-two {
    flex: 0 0 30%;
  }
}

@media screen and (max-width: 1132px) {
  .contact-flex {
    flex-direction: column;
  }
  .contact-small {
    text-align: center;
  }
  .icons {
    justify-content: center;
  }
}
