.blog-banner-heading{
  font-weight: 700;
  font-size: 64px;
  color: #FFFFFF;
}

.blog-banner-heading::before{
    content: "";
    height: 79px;
    border: 4px solid #FFB400;
    position: absolute;
    left: -1.5rem;
}

.blog-container {
  position: relative;
  height: 339px;
  background-image: url(../../assets/images/BlogHeadImg.png);
  background-size: cover;
  background-position: center;
}

.blog-banner-design {
  max-width: 991px;
  margin: auto;
  padding: 7rem 2rem;
}

@media screen and (max-width: 991px) {
  .blog-banner-design {
    max-width: 155px;
  }
}

@media screen and (max-width: 600px) {
.blog-banner-heading{
  font-size: 54px;
}
}

