.heading-styles{
        display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0px;
    flex-direction: column;
}
.heading-color{
    color: #FFB400;
}
.about-container {
  position: relative;
  height: 625px;
  background-image: url(../../assets/images/home-head.png); /* Use the imported image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width:992px) {
  .about-container{
    height: 1000px;
  }
  .heading-styles{
    padding: 0px;
  }
  .text-container-2{
    padding: 3rem 0px;
    display: flex;
    align-items: center;
  }
  
}