.latest-bottom-line {
  width: 45px;
  border-bottom: 5px solid #ffb400;
  padding-top: 1.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.related-project-heading{
  font-size: 40px;
  font-weight: 700;
}

.button-project {
  display: flex;
  justify-content: center;
  align-items: center;
}
