.line-style-2 {
  width: 45px;
  border-bottom: 5px solid #ffb400;
  padding-top: 1.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-bg-clr {
  background-color: #f7f7f7;
}

.button-project{
  display: flex;
  justify-content: center;
  align-items: center;
}