.portfolio-container {
  position: relative;
  width: 100%;
  height: 569px;
  background-image: url(../../assets/images/PortfolioHeaderImg.png);
  background-size: cover;
  background-position: center;
}

.portfolio-banner-design {
  padding: 6rem 13rem;
}

.portfolio-banner-heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 64px;
}

.portfolio-banner-heading::before {
  content: "";
  height: 158px;
  border: 4px solid #ffb400;
  position: absolute;
  left: -1.5rem;
}

.portfolio-banner-text {
  font-weight: 300;
  font-size: 22px;
  color: #ffffff;
}

@media screen and (max-width:990px) {
   .portfolio-banner-design {
  padding: 6rem 5rem;
}
}

@media screen and (max-width:768px) {
   .portfolio-banner-design {
  padding: 6rem 5rem;
}
.portfolio-banner-heading {
  font-size: 55px;
}
}

@media screen and (max-width:600px) {
   .portfolio-banner-design {
  padding: 6rem 3rem;
}
.portfolio-banner-heading {
  font-size: 50px;
}
.portfolio-banner-heading::before {
  height: 130px;
}
}

@media screen and (max-width:380px) {
   .portfolio-banner-design {
  padding: 6rem 2rem;
}
.portfolio-banner-heading {
  font-size: 40px;
}
}

@media screen and (max-width:280px) {
   .portfolio-banner-design {
  padding: 6rem 2rem;
}
.portfolio-banner-heading {
  font-size: 30px;
}
.portfolio-banner-heading::before{
  font-size: 28px;
  height: 110px;
}
.portfolio-banner-text {
  font-size: 16px;
}
}