.line {
  width: 48px;
  border-bottom: 5px solid #ffb400;
  padding-top: 1.5rem !important;
}

li {
  text-decoration: none;
}

.about-project-head {
  font-weight: 700;
  font-size: 40px;
}

.about-project-para {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #666666;
}
