.line{

width: 48px;
border-bottom: 5px solid #FFB400;
 padding-top: 1.5rem!important;
    
}
li{
    text-decoration: none;
}
.about-projectHead{
font-weight: 700;
font-size: 40px;
}
.about-paraHead{
    font-weight: 400;
font-size: 15px;
line-height: 28px;
color: #666666;
}