.input-flex {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-line {
  width: 42px;
  border-bottom: 5px solid black;
  padding-top: 1.5rem !important;
}

.set-padding {
  padding: 0px !important;
}

.footer-name-field {
  border: 0px solid white;
  border-radius: 0px;
  margin-bottom: 1rem;
  padding: 12px;
  flex: 0 0 48%;
}

.footer-message-field {
  border: 0px solid white;
  border-radius: 0px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 15px 0px 103px 16px;
}

.max-width-footer {
  max-width: 530px;
  margin: auto;
}

.footer-flex-one {
  flex: 0 0 50%;
  padding: 2rem;
  background-color: #ffb400;
}

.footer-flex-two {
  flex: 0 0 50%;
}

.parent-flex {
  display: flex;
}

.input-flex-wrap {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .parent-flex {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .input-flex {
    flex-direction: column;
  }
}
