.reuse-construction-style {
  font-weight: 700;
  font-size: 16px;
}
.building-paragraph {
  font-size: 14px;
  font-weight: 700;
}

.head-subtitle {
  font-size: 15px;
  font-weight: 300;
}

.head-title {
  font-weight: 700;
  font-size: 16px;
  padding-left: 13px;
}

@media screen and (max-width: 204px) {
  .head-subtitle {
    font-size: 12px;
    font-weight: 300;
  }
  .Head-title {
    font-weight: 700;
    font-size: 10px;
  }
}
