Nav.Link {
  text-decoration: none;
}
.nav-text {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.companyName {
  font-weight: 600;
  font-size: 23px;
}

@media (max-width: 767px) {
  .navbar-brand {
    text-align: center !important;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .companyName {
    font-weight: 700;
    font-size: 15px;
  }
}
@media (max-width: 245px) {
  .companyName {
    font-weight: 700;
    font-size: 12px;
  }
}
@media (max-width: 208px) {
  .companyName {
    font-weight: 800;
    font-size: 10px;
  }
}
