.float-repair {
  display: flex;
  justify-content: flex-end;
}

.width-set {
  border: 0px;
  border-radius: 0px;
}

.padding-set {
  padding: 0px 3rem;
}

.width-set-none {
  padding: 12px !important;
}

.text-color {
  color: #2a2a2a;
}

.repair-color-one {
  background-color: #2a2a2a;
  padding: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repair-button-clr-two {
  background-color: #ffb400;
  padding: 1rem !important;
}

.padding-none {
  padding: 0px 0px !important;
}

.padding-section {
  padding-bottom: 8rem;
}

@media screen and (min-width: 992px) {
  .width-set {
    width: 900px;
    height: 400px;
  }
}
