.width-set {
  border: 0px;
  border-radius: 0px;
  width: 900px;
  height: 498px;
}

.padding-set {
  padding: 0px 3rem;
}

.text-color {
  color: #2a2a2a;
}

.repair-color-one {
  background-color: #2a2a2a;
  padding: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repair-button-clr-two {
  background-color: #ffb400;
  padding: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-none {
  padding: 0px 0px !important;
}

@media screen and (max-width: 991px) {
  .width-set {
    height: 650px;
    width: 956px;
  }
}

@media screen and (max-width: 600px) {
  .width-set {
    height: 700px;
  }
}

@media screen and (max-width: 385px) {
  .width-set {
    height: 906px;
  }
}
