.video-bg{
    background-color: #2A2A2A;
    padding: 5rem 4rem 11rem 4rem;
}
.line-3{
    width: 48px;
   border-bottom: 5px solid #FFB400;
 padding-top: 1.5rem!important; 
}
.padding-none{
    padding: 0px !important;
}
.AboutProcess-text{
  font-weight: 700;
font-size: 40px;
color: #fff;
}
.AboutProcess-para{
  font-weight: 300;
font-size: 17px;
line-height: 28px;
color: #fff;
padding: 3rem 0px 0px 0px;
}
.AboutProcess-li{
  padding: 0px 0px 0px 18px;
  font-weight: 300;
font-size: 17px;
line-height: 33px;
color: #fff;
}
.quote-text{
  font-size: 32px;
  font-weight: 700;
}
.quote-number{
  font-size: 26px;
  font-weight: 600;
}
.video-flex{
    display: flex;
}
.video-flex-1{
  flex: 0 0 30%;
}
.video-flex-2{
  flex: 0 0 70%;
}
   
.video-flex-3{
  flex: 0 0 50%;
  background-color: #FFB400;
}
.video-flex-4{
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

@media screen and (max-width:1330px) {
.video-flex{
    flex-direction: column
}
.video-flex-3{
  text-align: center;
}
} 
@media screen and (max-width:1230px) {
  .video-flex-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width:222px) {
  .AboutProcess-text{
  font-size: 30px;
  font-weight: 500
}}