.footer-clr{
    background-color: #FFB400;
}
.footer-call{
      padding: 0px 0px 0px 12px;
    font-size: 15px;
    font-weight: 600;
}
.Footer-details{
  padding: 1rem 7rem;
}
.input-flex{
  display: flex;
  justify-content: space-between;
}
.line-2{

width: 42px;
border-bottom: 5px solid black;
 padding-top: 1.5rem!important;
    
}
.upper-clr{
    background-color: #2A2A2A;
}
.set-padding{
    padding: 0px !important;
}
.text-field-3{
    border: 0px solid white;
    border-radius: 0px;
    margin-bottom: 1rem;
    padding: 12px;
    flex: 0 0 48%;
}
.text-field-4 {
  border: 0px solid white;
  border-radius: 0px;
  width: 100%;
  margin-bottom: 1rem;
    padding: 15px 0px 103px 16px;
}
.maxWidth{
  max-width: 530px;
  margin:auto
}
.footer-flex-1{
  flex: 0 0 50%;
  padding: 2rem;
}
.footer-flex-2{
  flex: 0 0 50%;
}
.parent-flex{
  display: flex;
}
.cursor-icon{
  cursor: pointer;
}
@media (max-width: 1200px){
.parent-flex{
  flex-direction: column;
}
}
@media (max-width: 576px){
  .input-flex{
    flex-direction: column;
  }
}
@media (max-width: 460px){
  .Footer-details{
  padding: 1rem;
  text-align: center;
}
}
@media (max-width: 280px){
.footer-call{
  font-size: 12px;
}
}
.input-flexWrapper{
  display: flex;
  flex-direction: column;
}
a{
  color: #2A2A2A;
}