.main-para {
  line-height: 28px;
  color: #666666;
  font-size: 17px;
  font-weight: 300;
  padding: 3rem 0px;
}

.main-img-set {
  width: 100%;
  height: 731px;
  object-fit: cover;
}

.too-big-style-two {
  padding: 0px 8rem;
}

.best-orange {
  padding: 1rem 0px !important;
}

.no-project-flex {
  display: flex;
}

.no-project-flex-one {
  flex: 0 0 30%;
}

.no-project-flex-two {
  flex: 0 0 70%;
}

.no-project-flex-three {
  flex: 0 0 50%;
}

.no-project-flex-four {
  flex: 0 0 50%;
}

.no-project-flex-5 {
  flex: 0 0 50%;
}

.no-project-flex-6 {
  flex: 0 0 50%;
}

@media screen and (max-width: 1440px) {
  .no-project-flex {
    flex-direction: column;
  }
  .main-img-set {
    object-fit: contain;
  }
  .main-para {
    padding: 1rem 0px;
  }
  .too-big-style-two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 990px) {
  .no-project-flex {
    flex-direction: column;
  }
  .no-project-flex-three {
    flex: 0 0 100%;
  }
  .no-project-flex-four {
    flex: 0 0 100%;
  }
  .too-big-style-two {
    padding: 0px;
  }
}
