.project-container {
  position: relative;
  width: 100%;
  height: 569px;
  background-image: url(../../assets/images/ProjectHeaderImg.png);
  background-size: cover;
  background-position: center;
}

.client-details {
  font-weight: 300;
  font-size: 16px;
}

.project-banner-design {
  display: flex;
  flex-direction: column;
  padding: 8rem 0px;
}

.project-banner-heading {
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;
  padding: 0px 1rem;
}

.project-banner-heading::before {
  content: "";
  height: 80px;
  border: 4px solid #ffb400;
  position: absolute;
  left: -0.5rem;
}

.project-banner-text {
  font-weight: 300;
  font-size: 22px;
  color: #ffffff;
}

.project-header {
  display: flex;
  flex-direction: column;
  padding: 7rem 9rem;
  color: #ffffff;
}

@media screen and (max-width: 1399px) {
  .project-header {
    padding: 7rem 2rem !important;
  }
}

@media screen and (max-width: 990px) {
  .project-banner-design {
    padding: 5rem 0px;
  }
  .project-banner-heading {
    font-weight: 700;
    font-size: 58px;
    padding: 0px 1rem;
  }
}

@media screen and (max-width: 768px) {
  .project-container {
    height: 100vh !important;
  }
  .project-banner-design {
    padding: 4rem 0px;
  }
  .project-header {
    padding: 0px 0px !important;
    align-items: center;
  }
  .project-container {
    height: 490px;
  }
}

@media screen and (max-width: 600px) {
  .project-banner-heading {
    font-size: 50px !important;
  }
  .project-banner-design {
    padding: 5rem 0.5rem !important;
  }
}

@media screen and (max-width:580px) {
    .project-banner-heading {
    font-size: 45px !important;
  }
  .project-banner-text {
    font-size: 18px !important;
  }
}

@media screen and (max-width:340px) {
  .project-banner-design {
  padding: 3rem 0.5rem !important;
}
}