.custom-class-2 .line-style-about {


       width: 70px;
    border: 4px solid #FFB400;
    transform: rotate(-90deg);
    position: absolute;
  left: 105px;
    top: 120px;

}

.service-container{
  position: relative;
height: 625px;
  background-image: url("../../assets/images/ServicesHeaderImg.png"); /* Use the imported image */
  background-size: cover;
  background-position: center;
}
.service-paraStyle{
  font-weight: 400;
font-size: 15px;
line-height: 27px;
color: #666666;
}
@media screen and (max-width:992px) {
  .service-container{
    height: 1000px;
  }
  .heading-styles{
    padding: 0px;
  }
  .text-container-2{
    padding: 3rem 0px;
    display: flex;
    align-items: center;
  }
  
}