.service-container {
  position: relative;
  height: 625px;
  background-image: url("../../assets/images/ServicesHeaderImg.png"); /* Use the imported image */
  background-size: cover;
  background-position: center;
}

.service-banner-design {
  padding: 7rem 0.5rem;
}

.service-banner-heading {
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;
  padding-left: 1rem;
}

.service-banner-heading::before {
  content: "";
  height: 85px;
  border: 4px solid #ffb400;
  position: absolute;
  left: -0.5rem;
}

.service-banner-text {
  font-weight: 300;
  font-size: 22px;
  color: #ffffff;
  padding: 1rem 0px;
}

.service-para-style {
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
  color: #666666;
}

@media screen and (max-width: 991px) {
  .service-container {
    height: 1000px;
  }
  .heading-styles {
    padding: 0px;
  }
  .service-banner-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .service-banner-design {
    padding: 4rem 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .service-banner-heading {
    font-size: 55px !important;
  }
  .service-banner-text {
    font-size: 18px;
    padding: 1.5rem 0px;
  }
}
